body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: #000000;
}
.container {
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  position: relative;
}
.site-navigation  {
  line-height: 26px;
  font-weight: 700;
  text-decoration: none;
  list-style: none;
}
.site-navigation a[href]:hover,
.catalog-item-info a:hover {
  color: #81b3d2;
}
.site-navigation a[href]:active,
.catalog-item-info a:active {
  color: rgba(0, 0, 0, 0.3);
}






/* шрифты */
.name-hotel {
  line-height: 26px;
  font-weight: 700;
  font-size: 21px;
  color: #000000;
}
.footer-contacts {
  line-height: 26px;
  font-size: 21px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}
.appointment-item {
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}
.search {
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}
.info {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}
.services-item p {
  color: #333333;
}
.features {
  text-align: center;
}
.features p{
  color: #333333;
}
.feature-item p {
  color: #333333;
}
.appointment-info-date {
  line-height: 26px;
  color: #333333;
  text-align: center;
}
.appointment-info {
  line-height: 36px;
  font-size: 30px;
  font-weight: 700;
}
.appointment-item {
  line-height: 21px;
}
.legend {
  font-size: 16px;
}
.footer-copyright {
  text-align: center;
}
.footer-copyright b {
  font-weight: 400;
}

a.active-hotels {
color: #766357;
}
.services-list {
  list-style: none;
}
.infrastructure {
  list-style: none;
}
.type-house {
  list-style: none;
}
.catalog-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* кнопки */
.search {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
  width: 568px;
  min-height: 86px;
  line-height: 26px;
  font-size: 21px;
  color: #ffffff;
}
.search:hover {
  background-color: #604e43;
}
.search:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}
.find {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;

  color: #ffffff;
}
.find {
  width: 458px;
  min-height: 58px;
  line-height: 26px;
  font-size: 21px;
}

.find:hover {
  background-color: #669ec0;
}
.find:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
input[type="text"] {
  background-color: #f2f2f2;
}
input[type="text"]:hover {
  background-color: #ebebeb;
}
input[type="text"]:focus {
  background-color: #ffffff;
}


input[type="text"]{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 700;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-navigation {
  margin: 0;
  padding: 0;
  display: flex;
  padding-top: 14px;
  padding-bottom: 16px;
}

.site-navigation li {
width: 239px;
text-align: center;
}
.site-navigation li:nth-child(3) {
  margin-left: 244px;
}

.logo {
  background-image: url(../img/background-photo.png);
  background-repeat: no-repeat;
  text-align: center;
  background-position: 0 -82px;
  padding-top: 76px;
  min-height: 433px;
}

.main-navigation {
  position: relative;

}
.main-header-logo {
  width: 140px;
  height: 71px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

}








.sortings {
  display: flex;
  margin-left: 72px;
  margin-bottom: 30px;
}

.sorting-found {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin-top: 30px;
}
.sort {
  font-size: 12px;
  line-height: 18px;
  padding-top: 36px;
  margin-left: 48px;
}
.sort-price {
  margin-left: 40px;
}
.sort-type {
  margin-left: 31px;
}
.sort-rating {
  margin-left: 33px;
}
.sort-price {
  cursor: pointer;
  color: #81b3d2;
}
.sort-type,
.sort-rating {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.3);

}

.sort-price:hover,
.sort-type:hover,
.sort-rating:hover {
  color: #81b3d2;

  text-decoration: underline dotted #81b3d2;
}
.sort-price:active,
.sort-type:active,
.sort-rating:active {
  color: #000000;
  text-decoration: none;
}
.arrow {
  margin-left: 504px;
  margin-top: 34px;

}
.arrow-up svg {
  fill: #cacaca;
  width: 11px;
  height: 10px;
}
.arrow-down svg {
  fill: #81b3d2;
  width: 11px;
  height: 10px;
  padding-left: 8px;
}

.arrow-up:hover svg,
.arrow-down:hover svg {
  fill: #000000;
}
.arrow-up:active svg,
.arrow-down:active svg {
  fill: #81b3d2;
}













a.button {
  display: inline-block;
  background-color: #766357;
  color: #ffffff;
  font-weight: 700;

}
.button {
  margin-top: 13px;
  padding: 3px 17px;
}
a.button:hover {
  background-color: #604e43;
  color: #ffffff;
}
a.button:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}
.rating {
  display: inline-block;
  background-color: #f2f2f2;
  color: #666666;

  margin-top: 38px;
  padding: 5px 13px;
}

.detail {
  display: inline-block;
  background-color: #81b3d2;
  color: #ffffff;
  font-weight: 700;
  margin-top: 13px;
  padding: 3px 17px;
}
a.detail:hover {
  background-color: #669ec0;
  color: #ffffff;

}
a.detail:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
.catalog-item {
  display: flex;
  padding: 22px 72px;
  border-bottom: 1px solid rgba(0, 1, 1, 0.2);
}
.catalog-item:first-child {
  border-top: 1px solid rgba(0, 1, 1, 0.2);
}
.catalog-item-info h3 {
  margin-top: 3px;
  margin-bottom: 8px;
}
.catalog-item-detail {
  display: flex;
}

.catalog-item-price {
  margin-left: 6px;
}
.catalog-item-rating {
  margin-left: auto;
  margin-top: 6px;

}
.catalog-item-rating p {


}
.catalog-item-stars {
  display: flex;
  flex-direction: row-reverse;

}
.stars {
  background-image: url(../img/invalid-name.png);
  background-repeat: no-repeat;
  width: 18px;
  height: 17px;
  margin-left: 6px;
}
/*.stars {


  padding-top: 6px;
}
*/

.catalog-item-image {
  margin-top: 6px;
  margin-right: 30px;
}
.catalog-item-info {

}
.catalog-item-hotel p,
.catalog-item-price p {
  margin: 0;
}






.filter {
  background-image: url(../img/filter-background.jpg);
  height: 217px;
  display: flex;
  color: #ffffff;
 text-transform: uppercase;
}
.filter-range {
  width: 330px;
  margin: 0 auto;
}
legend {
  font-size: 16px;
  padding-top: 27px;
  font-weight: 700;
  padding-left: 72px;
}


/*из демки
.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}*/













.appointment-form {
  padding-top: 55px;
}



.appointment {
  display: flex;
  flex-direction: column;
  width: 568px;
  text-align: center;
  margin: 0 auto;
}
.appointment-form {
  background-color: #ffffff;
}
.appointment-info-date {
  margin-bottom: 52px;
}

.find {
  margin-top: 55px;
  margin-bottom: 55px;
}
.appointment-item {
  margin: 0 auto;
}

.appointment-item:nth-child(1) input,
.appointment-item:nth-child(2) input {
    height: 38px;
    width: 346px;
}
.appointment-item:nth-child(1),
.appointment-item:nth-child(2) {
  padding-bottom: 29px;
}
.appointment-item:nth-child(3) input,
.appointment-item:nth-child(4) input {
    height: 38px;
    width: 38px;
}














.main-footer {
  display: flex;
  padding-top: 36px;
  padding-bottom: 36px;
}
.footer-index {
  background-color: #ffffff;
  opacity: 0.9;
  position: absolute;
  bottom: 0px;

}
.footer-contacts {
  width: 400px;
  margin-top: 10px;
}
.footer-social {
  width: 400px;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  margin-left: 6px;
}
.social-button:hover {
  background-color: #669ec0;
}
.social-button:active {
  background-color: #5496bd;
}
.social-button:active path {
  opacity: 0.3;
}

.button-academy svg {
  fill: #231f20;
  width: 115px;
  height: 41px;
}
.button-academy:hover svg {
  fill: #81b3d2;
}
.button-academy:active svg {
  fill: #bdbbbc;
}
.footer-copyright {
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 0;
}
.footer-copyright b {
  margin-right: 8px;
}












.features {
  margin-top: 28px;
}
.info {
  padding-top: 39px;
  text-align: center;
  width: 500px;
  margin: 0 auto;
}
.features-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin-top: 54px;
}
.feature-item {
  width: 400px;
  flex-wrap: wrap;
  padding-top: 26px;

  margin: 0 auto;
  text-align: center;
  position: relative;

}

.feature-item:nth-child(1) {
  background-color: #81b3d2;
  position: relative;
  margin-bottom: 330px;
  color: #ffffff;
  padding-bottom: 36px;
}
.feature-item:nth-child(1) p {
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 8px;

}
.feature-item h3 {
  line-height: 21px;
  font-size: 21px;
  padding-left: 110px;
  padding-right: 110px;
}
.feature-item-number {
  padding-top: 3px;
  padding-bottom: 8px;
}
.services-list {
  display: flex;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 255px;
}
.services-item {
  width: 400px;
  color: #000000;
  padding-top: 135px;

}

.services-item h4 {
  font-size: 21px;
  line-height: 21px;
  margin-bottom: 22px;
}
.services-item:nth-child(1) {
  background-image: url(../img/icon-1.svg);
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: center 60px;

}
.services-item:nth-child(2) {
  background-image: url(../img/icon-3.svg);
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: center 60px;
}
.services-item:nth-child(3) {
  background-image: url(../img/icon-2.svg);
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: center 58px;
}
.services-item:nth-child(1) p {
  padding-left: 73px;
  padding-right: 75px;

}
.services-item:nth-child(2) p {
  padding-left: 56px;
  padding-right: 57px;
}

.feature-item:nth-child(4) {
  background-color: #81b3d2;
  color: #ffffff;

}
.feature-item:nth-child(4) p {
  padding-left: 40px;
  padding-right: 40px;


}
