body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #000000;
}
.site-navigation  {
  line-height: 26px;
  font-weight: 700; 
  text-align: center;
  text-decoration: none;
  list-style: none;
}
.site-navigation a[href]:hover,
.catalog-item-info a:hover {
  color: #81b3d2;
}
.site-navigation a[href]:active,
.catalog-item-info a:active {
  color: rgba(0, 0, 0, 0.3);
}


/* шрифты */

.name-hotel {
  line-height: 26px;
  font-weight: 700;
  color: #000000; 
}
.footer-contacts {
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}
.appointment-item {
  line-height: 26px;
  font-weight: 700;
  color: #000000; 
}
.search {
  line-height: 26px;
  font-weight: 700;
  color: #000000; 
}
.info {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000; 
  text-align: center;
}
.services-item p {
  color: #333333;
} 
.features {
  text-align: center;	
}
.features p{
  color: #333333; 
} 
.feature-item p {
  color: #333333;
}
.appointment-info-date {
  line-height: 24px;
  color: #333333;
  text-align: center;
}
.appointment-info {
  line-height: 36px;
  font-size: 30px;
  text-align: center;	
}
.appointment-item {
  line-height: 21px;
}
.legend {
  font-size: 16px;
}
.footer-copyright {
  text-align: center; 
}
.footer-copyright b {
  font-weight: 400;	
}

a.active-hotels {
color: #766357;	
}
.services-list {
  list-style: none;
}
.infrastructure {
  list-style: none;
}
.type-house {
  list-style: none;
}
.catalog-list {
  list-style: none;
}

/* кнопки */
.search {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
  width: 568px;
  height: 86px;
  line-height: 26px;
  font-size: 21px;
  color: #ffffff;
}
.search:hover {
  background-color: #604e43;
}
.search:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}
.find {
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
  
  color: #ffffff;  
}
.find {
  width: 458px;
  height: 58px;
  line-height: 26px;
  font-size: 21px;
}

.find:hover {
  background-color: #669ec0;
}
.find:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
input[type="text"] {
  background-color: #f2f2f2;	
}
input[type="text"]:hover {
  background-color: #ebebeb;	
}
input[type="text"]:focus {
  background-color: #ffffff;	
}
.social-button {
  background-color: #81b3d2;
}
a.button {
  display: inline-block;
  background-color: #766357;
  color: #ffffff;
  font-weight: 700;
}
a.button:hover {
  background-color: #604e43;
  color: #ffffff;
}
a.button:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}
.rating {
  display: inline-block;
  background-color: #f2f2f2;
  color: #666666;
}
.detail {
  display: inline-block;
  background-color: #81b3d2;
  color: #ffffff;
  font-weight: 700;
}
a.detail:hover {
  background-color: #669ec0;
  color: #ffffff;
} 
a.detail:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
} 
input[type="text"]{
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 700;
} 
.button-academy svg {
  fill: #231f20;
  width: 115px;
  height: 41px;
}
.button-academy svg:hover {
  fill: #81b3d2;
}
.button-academy svg:active {
  fill: #bdbbbc;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}



